/* Info: text on image START */
.init-coi {
    position: relative;
}
.text-on-image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
@media (min-width: 576px) {
    .text-on-image-sm {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}
@media (min-width: 768px) {
    .text-on-image-md {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}
@media (min-width: 992px) {
    .text-on-image-lg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}
@media (min-width: 1200px) {
    .text-on-image-xl {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}
@media (min-width: 1400px) {
    .text-on-image-xxl {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}
/* Info: text on image END */