/* Info: text align START */
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
@media (min-width: 576px) {
    .text-sm-center {
        text-align: center;
    }
    .text-sm-left {
        text-align: left;
    }
    .text-sm-right {
        text-align: right;
    }
}
@media (min-width: 768px) {
    .text-md-center {
        text-align: center;
    }
    .text-md-left {
        text-align: left;
    }
    .text-md-right {
        text-align: right;
    }
}
@media (min-width: 992px) {
    .text-lg-center {
        text-align: center;
    }
    .text-lg-left {
        text-align: left;
    }
    .text-lg-right {
        text-align: right;
    }
}
@media (min-width: 1200px) {
    .text-xl-center {
        text-align: center;
    }
    .text-xl-left {
        text-align: left;
    }
    .text-xl-right {
        text-align: right;
    }
}
@media (min-width: 1400px) {
    .text-xxl-center {
        text-align: center;
    }
    .text-xxl-left {
        text-align: left;
    }
    .text-xxl-right {
        text-align: right;
    }
}
/* Info: text align START */